Binaries
DerivedDataCache
Intermediate
Saved
WindowsNoEditor
Releases

.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.log


Build


# Built data for maps
*_BuiltData.uasset
*.user
.idea
MeshCache
